$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
);

@function get-flex-value($key) {
  @if (map-has-key($flex-map, $key)) {
    @return map-get($flex-map, $key);
  } @else {
    @return $key;
  }
}

@mixin flexbox($jc: center, $ai: center) {
  align-items: get-flex-value($ai);
  display: flex;
  justify-content: get-flex-value($jc);
}

@mixin inline-flexbox($jc: center, $ai: center) {
  align-items: get-flex-value($ai);
  display: inline-flex;
  justify-content: get-flex-value($jc);
}

@mixin column-flexbox($jc: center, $ai: center) {
  align-items: get-flex-value($ai);
  display: flex;
  flex-direction: column;
  justify-content: get-flex-value($jc);
}
