@mixin responsive($screen) {
  @if ($screen == 'T') {
    @media screen and (min-width: $md-breakpoint) {
      @content;
    }
  } @else if ($screen = 'D') {
    @media screen and (min-width: $lg-breakpoint) {
      @content;
    }
  }
}

/*
.section {
  @include responsive(T) {
    font-size: 10px;
    color: $blue;
  }

  @include responsive(D) {
    font-size: 12px;
    color: $green;
  }
}
 */
