.checkout-card {
  background-color: $background;
  border-radius: 4px;
  padding: 8px 10px 8px 12px;
  position: relative;

  .checkout-header {
    margin-bottom: 8px;
  }

  .checkout-title {
    @include text-style(13, $primary);
    font-weight: 400;
    padding-right: 36px - 10px;
  }

  .delete-button {
    @include inline-flexbox;
    color: $secondary;
    font-size: 20px;
    height: 20px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;

    &:hover,
    &:active {
      opacity: 0.4;
    }
  }

  .checkout-select {
    display: inline-block;
    position: relative;

    &:hover {
      select {
        border-color: $tertiary;
      }

      i {
        color: $secondary;
      }
    }

    select {
      @include text-style(14, $primary);
      appearance: none;
      background-color: $white;
      border: 1px solid $border;
      border-radius: 3px;
      height: 24px;
      line-height: 1; // height: 24, border: 1이어서 실제 높이는 22인데, 기본 line-height이 24px이기에 글자 높이가 안맞는 문제가 있음
      padding: 0 8px;
      transition: border-color 100ms ease-in-out;
      width: 72px;
    }

    i {
      @include pos-center-y;
      color: $tertiary;
      font-size: 20px;
      pointer-events: none;
      right: 2px;
      transition: color 100ms ease-in-out;
    }
  }

  .checkout-footer {
    @include flexbox(between);
  }

  @include responsive(D) {
    .checkout-title {
      @include text-style(16);
    }
  }
}
