.order-form {
  margin-bottom: 40px;

  .order-inputs,
  .order-checkouts,
  .order-summary {
    margin-bottom: 20px;
  }

  .order-checkouts {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .order-inputs {
    .select-group {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .order-summary {
    @include flexbox(between);

    dt {
      @include text-style(13, $dark);
      font-weight: 700;
    }
  }

  .button-group {
    @include flexbox;

    button {
      margin-right: 8px;
      width: 50%;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
