.product-table {
  $table-cell-padding: 12px;
  $table-th-width-sm: 100px;
  $table-th-width-md: 140px + $table-cell-padding;

  // table 필수 스타일
  border-collapse: collapse; // 보더를 합쳐줌
  table-layout: fixed; // 테이블 크기 고정
  width: 100%;

  tr {
    @include text-style(12, $primary);
    border-bottom: 1px solid $border;
    text-align: left;
    vertical-align: top;
  }

  th,
  td {
    padding: $table-cell-padding;
  }

  th {
    color: $secondary;
    font-weight: 400;
    width: $table-th-width-sm + $table-cell-padding;
  }

  td {
    padding-left: 0;
  }

  @include responsive(T) {
    tr {
      @include text-style(14);
    }

    th {
      width: $table-th-width-md + $table-cell-padding;
    }
  }
}
