.product-section-header {
  @include flexbox(start);
  background-color: $white;
  height: 64px;
  position: relative;
  width: 100%;

  .title {
    @include text-style(16, $dark);
  }

  .badge {
    @include text-style(16, $blue);
    margin-left: 8px;
  }

  .text-button,
  .icon-button {
    @include pos-center-y;
    right: 0;
  }

  .text-button {
    @include text-style(14, $blue);
    font-weight: 700;
  }

  .icon-button {
    color: $secondary;
    font-size: 22px;

    &.is-right {
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  @include responsive(T) {
    .title,
    .badge {
      font-size: 18px;
    }

    .text-button {
      font-size: 16px;
    }
  }
}
