@font-face {
  font-display: block;
  font-family: tomorrow;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/tomorrow.eot?s667em');
  src: url('./assets/fonts/tomorrow.eot?s667em#iefix') format('embedded-opentype'),
    url('./assets/fonts/tomorrow.ttf?s667em') format('truetype'),
    url('./assets/fonts/tomorrow.woff?s667em') format('woff'),
    url('./assets/fonts/tomorrow.svg?s667em#tomorrow') format('svg');
}
