%btn-base {
  @include inline-flexbox;
  border-radius: 4px;
  font-weight: 700;
  padding: 0 8px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

/*
 * Button Design 3요소 : style, size, status
 * - style  : fill, outlined, ghost < 이 세개가 자주 쓰임
 * - size   : width는 지정하지 않고, height만 고정, height에 따른 폰트사이즈 변화
 * - status : hover, disabled, focus, active,
*/

/* style + status start */
.btn-primary {
  @extend %btn-base;
  background-color: $blue;
  color: $white;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $blue-dark;
  }
}

.btn-secondary {
  @extend %btn-base;
  background-color: $border;
  color: $primary;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $tertiary;
  }
}

.btn-outlined {
  @extend %btn-base;
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $blue-light;
  }
}

.btn-ghost {
  @extend %btn-base;
  background-color: transparent;
  color: $primary;
  transition: color 200ms ease-in-out;

  &:not(:disabled):hover {
    color: $secondary;
  }
}

/* style end */

/* size start */
.btn-32 {
  @include text-style(14);
  height: 32px;
}

.btn-40 {
  @include text-style(16);
  height: 40px;
}

.btn-48 {
  @include text-style(16);
  height: 48px;
}

.btn-55 {
  @include text-style(18);
  height: 55px;
}

/* size end */
