/* stylelint-disable scss/double-slash-comment-empty-line-before */
/* stylelint-disable scss/dollar-variable-first-in-block */

/*
 * MOBILE (< 768px) -----------------------------------------------------
 * fixture                     sm
 * # of columns                4
 * gutter                      20px
 * margin                      5px
 * container-size              100% - (margin * 2)
 * unit                        container-size / column-length - gutter
 */

/*
 * TABLET (>= 768px) -----------------------------------------------------
 * fixture                     md
 * # of columns                12
 * gutter                      20px
 * margin                      30px
 * container-size              100% - (margin * 2)
 * max-container-size          960px
 * unit                        container-size / column-length - gutter
 */

/*
 * DESKTOP (>= 1200px) -----------------------------------------------------
 * fixture                     lg
 * # of columns                12
 * gutter                      20px
 * margin                      auto
 * container-size              1140px
 * max-container-size          1140px
 * unit                        75px
 */

// 공통
$gutter: 20px;

// 모바일
$sm-columns: 4;
$sm-margin: 5px;

// 태블릿
$md-columns: 12;
$md-margin: 30px;
$md-max-container: 960px + ($md-margin * 2);

// 데스크탑

$lg-columns: 12;
$lg-unit: 75px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns; // unit + gutter = column-size

.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto; // 화면이 넓어졌을 경우, 중앙 정렬 되고 좌우 자동 마진을 주기 위함임.

  .row {
    display: flex;

    /* flex-wrap :
     * nowrap일 경우, 자식이 .row의 사이즈를 벗어나면 다음줄로 넘어가게 해주고,
     * wrap일 경우 .row 안에 우겨넣음.
     * row 안에 column이 한줄에 나오도록 짜고 있기에 wrap 으로 설정.
     */
    flex-wrap: wrap;
  }

  // col-로 시작하는 모든 클래스명을 골라줌
  [class^='col-'] {
    padding: 0 $gutter / 2;
  }

  // to : 미만, through: 이하
  @for $i from 1 through $sm-columns {
    // $debug $i //컴파일 시 $i의 값을 콘솔에 찍어줌
    .col-sm-#{$i} {
      // width: $i / $sm-columns * 100%; //퍼센테이지 생성을 위함
      width: percentage($i / $sm-columns); // 기본 함수 제공
    }
  }

  // container 클래스 재정의
  @include responsive(T) {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        width: percentage($i / $md-columns);
      }
    }
  }

  @include responsive(D) {
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
