.lnb {
  background-color: $white;
  border-bottom: 1px solid $border;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    @include flexbox(start);
    width: 100%;
  }

  &-item {
    flex-shrink: 0; // 공간이 부족해도 자신의 사이즈를 줄이지 않도록

    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      font-weight: 700;
      height: 40px;
      padding: 10px 8px;
    }

    .ic-new {
      color: $red;
    }

    &.is-active {
      a {
        border-bottom: 2px solid $blue;
        color: $blue;
      }
    }
  }
}
