.lnb {
  background-color: $white;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    @include inline-flexbox(start);
    border-bottom: 1px solid $border;
    height: 40px;
    margin-left: -15px;
    padding: 0 7px;
    white-space: nowrap;
  }

  &-item {
    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      border-bottom: 2px solid transparent;
      // active 상태일 때에만 border-bottom이 생기게 되면, height가 줄어들어 좌우 요소들과 글자 정렬 높이가 안맞게 되어 추가
      font-weight: 700;
      padding: 10px 8px;
    }

    &.is-active {
      a {
        border-bottom-color: $blue;
        color: $blue;
      }
    }
  }
}
