.product-tab {
  $grid-margin: $sm-margin + $gutter / 2;

  background-color: $white;
  border-bottom: 1px solid $border;
  height: 40px;
  position: sticky;
  top: $gnb-height-sm + $lnb-height-sm;
  width: 100%;
  z-index: $product-tab-level;

  &-list {
    @include flexbox;
    margin: 0 -#{$grid-margin};
    // 해당 클래스에 width를 별도 선언하지않고, margin에 -px를 주면 width가 넓어짐
  }

  &-item {
    width: (100% / 5);

    &.is-active {
      button {
        border-bottom: 2px solid $blue;
        color: $blue;
      }
    }

    button {
      @include flexbox;
      @include text-style(13, $dark);
      border-bottom: 2px solid transparent;
      font-weight: 700;
      height: 40px;
      white-space: nowrap;
      width: 100%;

      &:active {
        color: $blue;
      }
    }

    .badge {
      color: $secondary;
      margin-left: 4px;
    }
  }

  @include responsive(T) {
    background-color: $background;
    border-bottom: 0;
    height: 54px;
    top: $gnb-height-md + $lnb-height-md;

    &-list {
      margin: 0;
    }

    &-item {
      button {
        @include text-style(16);
        height: 54px;
      }

      .badge {
        margin-left: 8px;
      }
    }
  }

  @include responsive(D) {
    &-item button:hover {
      color: $blue;
    }
  }
}
